node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Android/Gradle specific
.gradle/
.build-outputs/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
# Ignore all jars except the wrapper
**/*.jar
!gradle/wrapper/gradle-wrapper.jar

# Android Studio specific
.idea/
*.iml
.navigation/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/vcs.xml
.idea/navEditor.xml
.idea/runConfigurations.xml

# Keystores
*.keystore
*.jks
*.p12

